@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  --text-font: "Syne", sans-serif;
  font-family: var(--text-font);
  line-height: 1.5;
  font-weight: 400;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
}

::selection {
  background-color: #ffc903;
  color: #000;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc903;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d1a400;
}
body {
  overflow-x: hidden;
  width: 100%;
}
.font-text {
  font-family: var(--text-font) !important;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.circle {
  animation: spinner 4s linear infinite;
}

.circle.right {
  animation-direction: reverse;
}

@keyframes spinner {
  25% {
    transform: translateX(-32px);
  }

  75% {
    transform: translateX(32px);
  }
}

/* PHOTOSWIPE GALLERY */

.pswp {
  --pswp-bg: #ffffff !important; /* Background of overlay */
  --pswp-root-color: #000000 !important; /* Default text/icon color */
  --pswp-icon-color: #000000 !important; /* Toolbar icons */
  --pswp-icon-color-secondary: #666666 !important;
  --pswp-icon-stroke-color: #ffffff !important;
  --pswp-icon-stroke-width: 2px !important;

  --pswp-placeholder-bg: #f0f0f0 !important; /* Preload placeholder */
  --pswp-error-text-color: #d33 !important; /* Error message */
}
button.pswp__button svg {
  outline: 0 !important;
  border: 0 !important;
}
/* .pswp.pswp--open .pswp__item {
  opacity: 0;
  transition: opacity 500ms ease;
  pointer-events: none;
}

.pswp.pswp--open .pswp__item.pswp-item-visible {
  opacity: 1;
  pointer-events: auto;
}

*/
/* .pswp__img {
  border-radius: 6px;
} */

button.pswp__button.pswp__button--arrow--next,
button.pswp__button.pswp__button--arrow--prev {
  background-color: rgba(255, 255, 255, 0.3);
}

button.pswp__button.pswp__button--arrow--next,
button.pswp__button.pswp__button--arrow--prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

button.pswp__button.pswp__button--arrow--next svg,
button.pswp__button.pswp__button--arrow--prev svg {
  height: 26px;
  width: 26px;
}
.pswp__counter {
  text-shadow: none !important;
}
