* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #eff5f0;
  --text-color: #000;
  --invert: 0;
  --yellow: #f6d309;
  --scroll-bar-color: #414141;
}

body {
  background-color: var(--background);
  cursor: default;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #131315;
    --text-color: #ededed;
    --invert: 1;
  }
} */

html.lenis,
html.lenis body {
  height: auto;
}
.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

body[data-theme="dark"] {
  --background: #131315;
  --text-color: #ededed;
  --invert: 1;
}

body[data-theme="light"] {
  --background: #eff5f0;
  --text-color: #000;
  --invert: 0;
}

::selection {
  background-color: var(--yellow);
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-color);
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

button {
  outline: 0 !important;
}

h1.main-title {
  font-size: 100px;
  margin-bottom: 40px;
  color: var(--text-color);
  font-weight: 900;
}

p.sub-text {
  font-size: 28px;
  font-weight: 800;
  color: var(--text-color);
  line-height: 36px;
  margin-bottom: 30px;
}
p.text {
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
  font-weight: 400;
}

p .bold {
  font-weight: 700;
}

.cursor-element {
  display: block;
  width: 16px;
  height: 16px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--yellow);
  pointer-events: none;
  z-index: 6000;
  transition: transform 0.2s ease;
}

.cursor-element.hover {
  transform: scale(1.6);
}

@media screen and (max-width: 1023px) {
  .cursor-element {
    display: none !important;
  }
}

.identity__content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.identity__avatar img.avatar__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.identity__info p.identity__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--text-color);
}

.identity__info p.identity__subtext {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--text-color);
}
.article,
.header__content {
  margin: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  z-index: 200;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-action-btn {
  font-size: 16px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px;
}
.header-action-btn.action__theme.active {
  display: none !important;
}
.header-action-btn svg {
  vertical-align: middle;
}
.header-action-btn.action__theme svg.svg-moon path {
  fill: var(--text-color);
}
.header-action-btn.action__theme svg.svg-sun circle,
.header-action-btn.action__theme svg.svg-sun path {
  stroke: var(--text-color);
}
.header-action-btn.action__speak svg path {
  stroke: var(--text-color);
}
.header-action-btn.action__speak.playing svg.speak,
.header-action-btn.action__speak.stopped svg.stop-speak,
.header-action-btn.action__speak:not(.playing) svg.stop-speak {
  display: none;
}
.article {
  padding-top: 40px;
  padding-bottom: 40px;
}
.article__header {
  margin-bottom: 50px;
}
.article__header h3 {
  font-size: 30px;
  color: var(--text-color);
}

.article__content .skills-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.article__content .skills-list img {
  aspect-ratio: 1;
  width: calc(25% - 15px);
  border: 1px solid #ccc;
  padding: 10px;
  filter: invert(var(--invert));
}
ul.experience {
  margin-left: 6px;
}
ul.experience li.experience__item:not(:last-child) {
  padding-bottom: 60px;
}
ul.experience li.experience__item {
  padding-left: 30px;
  border-left: 1px solid #434343;
  position: relative;
  line-height: 1;
  transition: border-color 0.3s ease;
}
ul.experience li.experience__item::after,
ul.experience li.experience__item::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  border-radius: 50%;
}
ul.experience li.experience__item::after {
  background-color: #434343;
  z-index: 9;
  left: -8px;
  top: 2px;
  transition: transform 0.3s ease;
}
ul.experience li.experience__item::before {
  border: 2px solid #434343;
  z-index: 10;
  background-color: var(--background);
}

ul.experience li.experience__item:hover::after {
  transform: scale(1.6);
}
ul.experience h3.job-position {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text-color);
}
ul.experience h4.company {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
}
.responsibilities {
  margin-top: 26px;
}
.responsibilities h5 {
  font-size: 16px;
  margin-bottom: 14px;
  color: var(--text-color);
}
.responsibilities ul {
  padding-left: 18px;
}
.responsibilities li {
  list-style-type: circle;
  padding-left: 10px;
  color: var(--text-color);
  line-height: 22px;
  font-size: 16px;
}
.responsibilities li:not(:last-child) {
  margin-bottom: 14px;
}
ul.experience h3.job-position small,
ul.experience h4.company small {
  color: #696969;
  font-weight: 500;
}

/* Modal */
.modal,
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
}
.modal-backdrop {
  bottom: 0;
  right: 0;
  z-index: 500;
  background-color: rgb(90 95 123 / 23%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  animation: backdropAnimation 300ms ease-out;
}
.modal {
  z-index: 510;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.modal.show {
  animation: modalShowAnimation 500ms ease-out;
}
.modal.hide {
  animation: modalHideAnimation 500ms ease-out;
}

.modal-backdrop.show {
  animation: backdropShowAnimation 500ms ease-out;
}
.modal-backdrop.hide {
  animation: backdropHideAnimation 500ms ease-out;
}

@keyframes modalShowAnimation {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes modalHideAnimation {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
}

@keyframes backdropShowAnimation {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes backdropHideAnimation {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.modal-container {
  background-color: var(--background);
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  max-width: 460px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.modal-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.modal-header h3 {
  color: var(--text-color);
  font-size: 22px;
}
.modal-header button {
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-header button svg {
  vertical-align: middle;
}
.modal-header button svg path {
  stroke: var(--text-color);
}
.modal-content {
  padding: 20px 30px;
  width: 100%;
  overflow-y: auto;
  color: var(--text-color);
}
.modal-content p {
  color: var(--text-color);
}

.info-item {
  margin-bottom: 30px;
}
.info-item h4 {
  font-size: 18px;
  margin-bottom: 16px;
}
.modal-content p,
.modal-content a {
  color: var(--text-color);
  font-size: 16px;
}
.modal-content p:not(:last-child) {
  margin-bottom: 16px;
}
.modal-content a {
  text-decoration: underline;
}

/* WORKS */

.work-list-group:not(:last-child) {
  margin-bottom: 40px;
}
.work-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.work-list-header p.work-title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}
.work-links {
  display: flex;
  gap: 12px;
}
.work-links a {
  display: inline-block;
  padding: 2px 5px;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: underline;
}
.work-list-wrap {
  position: relative;
}
button.arrow-next,
button.arrow-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  background-color: transparent;
  border: 0;
  font-size: 0;
  width: 30px;
  height: 30px;
}
button.arrow-next {
  right: -50px;
}
button.arrow-prev {
  left: -50px;
}

button.arrow-next svg path,
button.arrow-prev svg path {
  fill: var(--text-color) !important;
}
button.arrow-next:not(.disabled),
button.arrow-prev:not(.disabled) {
  cursor: pointer;
}
button.arrow-next.disabled,
button.arrow-prev.disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}
.work-list-wrap ul.work-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  cursor: grab;
  user-select: none;
}
ul.work-list li.work-list-item {
  width: 300px;
  overflow: hidden;
  border-radius: 8px;
  flex: none;
}
ul.work-list li.work-list-item img {
  max-width: 100%;
  vertical-align: middle;
  user-select: none;
  pointer-events: none;
}

/* FOOTER */

footer.footer {
  background-color: #8c83a51c;
  /* margin-top: 40px; */
}

.footer-content {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  width: 85%;
  margin: auto;
}

.footer-content p {
  font-size: 16px;
  text-align: center;
  color: var(--text-color);
  line-height: 26px;
  font-weight: 400;
}
.footer-copy-text {
  text-align: center;
  padding: 30px 0;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

svg.heart-footer {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: heartBeat 2s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

/* Progress */

.progress-circle-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-circle {
  width: 40px;
  height: 40px;
}
.progress-circle-bar {
  fill: none;
  stroke: var(--text-color);
  stroke-width: 5;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transform-origin: center;
  transition: stroke-dashoffset 0.3s ease;
}
.progress-background {
  fill: transparent;
  stroke: var(--background);
  stroke-width: 5;
  stroke-dasharray: none;
}
.scroll-to-top {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.scroll-to-top svg {
  display: block;
  width: 20px;
  height: 20px;
  stroke: var(--background);
  transition: all 0.1s ease;
}
