@media screen and (max-width: 767px) {
  .identity__avatar img.avatar__image {
    width: 40px;
    height: 40px;
  }
  .identity__info p.identity__name {
    font-size: 16px;
  }

  .identity__info p.identity__subtext {
    font-size: 12px;
  }

  .work-list-wrap {
    margin-left: -20px;
    margin-right: -20px;
  }
  ul.work-list li.work-list-item:first-child {
    margin-left: 20px;
  }
  ul.work-list li.work-list-item:last-child {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .article,
  .header__content {
    max-width: 680px;
  }

  .article__content .skills-list {
    gap: 10px;
  }

  .article__content .skills-list img {
    width: 60px;
  }

  .article__header h3 {
    font-size: 32px;
  }

  .work-list-wrap ul.work-list {
    gap: 40px 20px;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 0;
  }
  ul.work-list li.work-list-item {
    width: calc(50% - 10px);
    flex: auto;
  }
}
